.container{
    height:100px;
    width: 1304px;
    display: flex;
    margin: 0px 130px;
    padding-top: 10px;
    /* justify-content:space-evenly; */

}
.container img{
    height:65px;
    width:65px;
}
/* .container p{
   
} */
.item p{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}
.item{
    padding-right: 53px;
}
.banner{
    margin-top:8px;
    border: 1px solid darkgrey;
    background-color: whitesmoke;
    /* width: 1517px; */
    padding: 7px 0px;
}
.banner img{
    width: 1518px;
    height:270px;
}
.card{
    display: flex;
    flex-direction: row;
    height: 372px;
    border: 1px solid white;
    background-color: whitesmoke;
}
.left{
    height:355px;
    width: 230px;
    /* background-color: aqua; */
}
.left img{
    height: 122px;
    width: 230px;

}
.content1{
    padding-top: 95px;
    text-align: center;

}
.content1 h3{
    font-size: 30px;
    font-weight: 500;
}
.carditem{
    display: flex;
    /* background-color: aqua; */
    width:1056px;
}

.cards{
    margin-top: 49px;
    padding: 0px 21px;

}
.carditem .details{
    text-align: center;
    padding-top: 41px;
}
.carditem .details p{
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.right{
    padding:4px;
    height:355px;
    width: 230px;
    /* background-color: aqua; */
}
.right img{
    height:361px;
    width: 222px;
}

.carousel-control-prev-icon{
    width: 51px;
    height: 86px;
}

.carousel-control-prev span {
    margin-left: -175px;
    background-color:darkgray;
    color: red;
}
.carousel-control-next-icon{
    width: 51px;
    height: 86px;
}

.carousel-control-next span {
    margin-right: -175px;
    background-color:darkgray;
    color: red;
}

